[submodule "Package-Dev/Packages/com.mutant.packagemanager"]
	path = Package-Dev/Packages/com.parkminpackages.packagemanager
	url = https://github.com/ParkMinPackages/PackageManager.git
[submodule "Package-Dev/Packages/com.parkminpackages.foundation"]
	path = Package-Dev/Packages/com.parkminpackages.foundation
	url = https://github.com/ParkMinPackages/Foundation.git
[submodule "Package-Dev/Packages/com.mutant.ugui"]
	path = Package-Dev/Packages/com.parkminpackages.ugui
	url = https://github.com/ParkMinPackages/UGUI.git
[submodule "Package-Dev/Packages/com.parkminpackages.workflow.default"]
	path = Package-Dev/Packages/com.parkminpackages.workflow.default
	url = https://github.com/ParkMinPackages/Workflow-Default.git
[submodule "Package-Dev/Packages/com.parkminpackages.sqlitetoolkit"]
	path = Package-Dev/Packages/com.parkminpackages.sqlitetoolkit
	url = https://github.com/ParkMinPackages/SQLite-Toolkit.git
